<h4> Internal Server Error - refreshing the page will make the error dissappear!</h4>
<ng-container *ngIf="error">
<h5 class="text-danger">Error: {{error.message}}</h5>
<p class="font-weight-bold">Note: If you are seeing this then Anguler is probely not to blame</p>
<p>What to do next?</p>
<ol>
    <li>Open the crome dev tools</li>
    <li>Inspect the netwoek tab</li>
    <li>Check the faling request</li>
    <li>Examine the request URL - make sure it is correct</li>
    <li>Reproce the error in PostMan - if we see the same response, the the issue is not with Angular.</li>
</ol>
<p>Following is the stack trace - this is where your investigation start!</p>
<code class="mt-5" style="background-color:whitesmoke;">{{error.details}}</code>
</ng-container>
